/*
 *
 * Variables
 *
 */

:root {
    /* Colors */
    --bg-color: #0c0c0f;
    --on-bg-color: #292931;
    --on-bg-color-transparent: #29293144;
    --highlight-color: #ce0a35;
    --hover-highlight-color: #a70326;
    --text-color: #e9e9e9;
    --inactive-text-color: #e9e9e9d5;

    /* Border radius */
    --radius-full: 1000px;
    --radius-medium: 20px;
    --radius-small: 10px;

    /* Headings */
    --h1: 64px;
    --h2: 50px;
    --h3: 36px;
    --h4: 22px;
    --h5: 18px;
}




/*
 *
 * Base
 *
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 1500px;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    position: relative;
}



/*
 *
 * Navigation bar design start
 *
 */

.navigation-bar {
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    max-width: inherit;
    top: 0;
    left: 0;
    z-index: 9999999999;

    @media screen and (max-width: 900px) {
        top: -1px;
    }
}

.bg-blur {
    background-color: #0f0f1118;
    backdrop-filter: blur(30px);
    border-bottom: 1px solid #ffffff18;
}

.navigation-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.navigation-bar .logo {
    width: 140px;
}

.navigation-bar .navigation-links,
.navigation-bar .navigation-actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.navigation-bar .navigation-links .link,
.navigation-bar .float .link,
.navigation-bar .navigation-actions .secondary-action {
    position: relative;
    text-decoration: none;
    color: var(--inactive-text-color);
    padding: 12px 24px;
    border-radius: var(--radius-small);
    transition: .3s ease-in-out;
    border: 1px solid transparent;
}

.navigation-bar .navigation-links .link::after,
.navigation-bar .navigation-actions .secondary-action::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    border-radius: var(--radius-full);
    background-color: var(--highlight-color);
    transition: .3s ease-in-out;
}


.navigation-bar .navigation-links .link:hover,
.navigation-bar .float .link:hover,
.navigation-bar .navigation-actions .secondary-action:hover {
    background-color: var(--on-bg-color-transparent);
    border-color: #e9e9e91c;
}


.navigation-bar .navigation-links .link.active,
.navigation-bar .navigation-actions .secondary-action.active {
    color: var(--text-color);
    font-weight: 600;
}

.navigation-bar .navigation-links .link:hover::after,
.navigation-bar .navigation-links .link.active::after,
.navigation-bar .navigation-actions .secondary-action:hover::after,
.navigation-bar .navigation-actions .secondary-action.active::after {
    width: 40%;
}

.navigation-bar .navigation-actions .primary-action {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--highlight-color);
    padding: 16px 24px;
    border-radius: var(--radius-medium);
    transition: .3s ease-in-out;
}

.navigation-bar .navigation-actions .primary-action:hover {
    background-color: var(--hover-highlight-color);
}

.menubtn {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 900px) {
        display: flex;
    }
}


.navigation-bar .float {
    position: absolute;
    top: 110%;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    max-width: inherit;
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 12px;
    border: 1px solid var(--on-bg-color-transparent);
    border-radius: var(--radius-medium);
    gap: 4px;

    z-index: 9999999999;
}

.navigation-bar .float.active {
    display: flex !important;
}

.navigation-bar .float .link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 3px;
    height: 0%;
    border-radius: var(--radius-full);
    background-color: var(--highlight-color);
    transition: .3s ease-in-out;
}

.navigation-bar .float .link:hover::after,
.navigation-bar .float .link.active::after {
    height: 70%;
}

.navigation-bar .float .float-actions {
    display: flex;
    margin-top: 20px;
    gap: 8px;
}

.navigation-bar .float .float-actions .secondary-action {
    text-decoration: none;
    width: 50%;
    border-radius: var(--radius-small);
    background-color: var(--on-bg-color-transparent);
    color: var(--text-color);
    padding: 14px 24px;
    text-align: center;
}

.navigation-bar .float .float-actions .primary-action {
    text-decoration: none;
    width: 50%;
    border-radius: var(--radius-small);
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 14px 24px;
    text-align: center;
}

/*
 *
 * Navigation bar design end
 *
 */


#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#toTop:hover {
    background-color: #555;
}


/*
 *
 * Content design start
 *
 */

.hero {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    height: 85vh;
    position: relative;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.hero::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: -999999;
    filter: blur(200px);
    width: 500px;
    height: 500px;
    border-radius: var(--radius-full);
    background-color: var(--highlight-color);

    @media screen and (max-width: 900px) {
        right: -100px;
        width: 100px;
        height: 100px;
        top: 100px;
    }

}


.hero .infos {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    width: 65%;

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.hero .infos h1 {
    font-size: var(--h1);
    background-image: linear-gradient(to bottom, var(--text-color) 70%, rgba(255, 255, 255, 0.377) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;

    @media screen and (max-width: 900px) {
        font-size: var(--h3);
        text-align: center;
    }
}

.hero .infos p {
    font-size: var(--h5);
    line-height: 2.5em;

    @media screen and (max-width: 900px) {
        text-align: center;
        font-size: 12px;
    }
}

.hero .infos .action-button {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--h5);
    padding: 22px 66px;
    border-radius: var(--radius-full);
    background-color: var(--highlight-color);
    transition: .3s ease-in-out;
    position: relative;

    @media screen and (max-width: 900px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.hero .infos .action-button:hover {
    background-color: var(--hover-highlight-color);
}

.hero .infos .action-button::before,
.hero .infos .action-button::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: inherit;
    border: 2px solid var(--hover-highlight-color);
    z-index: -4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
}

.hero .infos .action-button::after {
    transition: .3s ease-in-out;
}

.hero .infos .action-button::before {
    transition: .4s ease-in-out;
}

.hero .infos .action-button:hover::before {
    width: 106%;
    height: 114%;
}

.hero .infos .action-button:hover::after {
    width: 102%;
    height: 106%;
}

.hero .side {
    display: flex;
    width: 35%;
    max-width: inherit;

    @media screen and (max-width: 900px) {
        display: none;
        height: 0;
    }
}

.hero .side img {
    width: 100%;
}